@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff") format('woff');
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff") format('woff');
	font-weight: bold;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff") format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.woff") format('woff');
	font-style: italic;
}

body {
	font-family: "Atkinson Hyperlegible", sans-serif;
	color: #4C4C4C;
	font-size: 1.1rem;
}
@media (min-width: 1000px) {
		body{
		font-size: 1.1rem;
	}
}

a {
	color: #4C4C4C;
	font-style: normal;
	text-decoration-line: none;
}

h1{
	font-size: 1.4rem;
}

h1 a img {
	height: 30px;
	vertical-align: bottom;
}

table{
	background-color: #FFFFFF;
	border: 0px solid #ccc;
	width:  98%;
	/*padding:  9.5px 0px 9.5px 0px;*/
	table-layout:fixed;
	text-align: left;
}

table.a{
	display: block;
}

tr:nth-child(even){
	background-color: #EEEEEE;
}

th {
	background-color: white;
	cursor: pointer; /*indicate that clickable for sorting*/
}

td{
	padding-left: 0.1em;
	padding-right: 0.1em;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /*fade doesn't work*/
}

.column1{
	width: 75%;
}
@media (min-width: 700px) {
	.column1{
		width: 60%;
	}
}

.column2{
	width: 25%;
	font-family: monospace;
	font-size: 0.9em;
}

@media (min-width: 700px) {
	.column2{
		width: 25%;
	}
}

.column3{
	width: 0%;
	text-align: right;
	font-family: monospace;
	font-size: 0.9em;
	visibility: hidden;
	background-image: url('/images/background-size.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 5.5em;
}
@media (min-width: 780px) {
	.column3{
		visibility: visible;
		width: 15%;
	}
}
th.column2, th.column3{
	font-family: "Atkinson Hyperlegible", sans-serif;
	background-image: none;
}

#footer{
	margin-top: 20px;
}

#footer a{
	color: #686868;
}

hr{
	visibility: hidden;
}

h4 {
	color: #686868;
	margin-top: 20px;
}

.header {
	color: #686868;
	margin:3px 5px 6px 5px;
}

.icons {
	margin: 3px 5px 3px 5px;
/*	 height: 100%;
	 width: 100%;*/
}

.col-centered{
	float: none;
	margin: 0 auto;
}

#mainBox{
	width:98%;
}
