:root {
  --color1:#fafafa;
  --color2:#dedede;
  --color3:#ffffff;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff") format('woff');
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.woff") format('woff');
  font-style: italic;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0.5em 1.0em 0.5em 1.5em;
  background: var(--color1);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a:link, a:visited {
  color: darkgreen;
}

a:hover, a:active {
  color: green;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.balkenrahmen {
  border:1px;
  border-style:none;
  border-color: #000000;
  width: 100%;
  position: fixed;
  height: 0.5em;
  left: 0;
  bottom: 0;
}

.balken {
  background-color: #303030;
  color:#000000;
  height: 10px;
  padding: 10px;
}

.buttonlike, .button {
  box-sizing: content-box;
  color: darkgreen;
  font-size: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: darkgreen;
  border-radius: 1em;
  padding: 0.3em 1.4em;
  margin: 0.5em;
  width: 15em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.select-css {
  display: inline-block;
  font-family: inherit;
  font-size: 0.9em;
  text-align: left;
  padding: 0.9em 2em;
  width: auto;
  margin: 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: lightgrey;
  background-image: linear-gradient(to bottom, #eeeeee 0%,#dddddd 100%);
  background-repeat: repeat;
}

.select-css::-ms-expand {
  display: none;
}

summary {
  min-height: 2em;
}

details {
  background-color: var(--color2);
  border-bottom: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color2);
  margin-bottom: 0.3em;
}

summary:focus {
  outline-style: none;
  color: darkgreen;
}

summary:hover {
  color: green;
}

details > summary {
  font-size: 1.5em;
  background-color: var(--color2);
}

details > details {
  margin-left: 36px;
  background-color: var(--color3);
}

details > p, details > div, .myPara {
  margin-left: 36px;
  background-color: var(--color3);
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.8em;
  margin-bottom: 0.8em;
}

details > details > summary {
  font-size: 1.25em;
  background-color: var(--color3);
}

kbd {
  font-family: Monaco, "Lucida Console", monospace;
  background-color: var(--color2);
}

.typcn {
  font-size: 1.5em;
  padding-right: 0.2em;
}

.querformatBox {
  position: relative;
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

.querformat {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
  /*font-size: 0;*/
  height: 80vh;
}

.querformatInhalt {
  float: left;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  position: relative;
  padding: 1em;
  background-color: white;
  height: 100%;
}

.querformatInhalt-no-transition {
  -webkit-transition: none;
  transition: none;
}

.querformatInhaltBlock {
  display: inline-block;
  background-color: white;
  overflow-y: auto;
  white-space: normal;
  word-break: normal;
  height: 100%;
  width: auto;
  padding: 1em;
}

.querformatInhaltBlock img {
  height: 90%;
  object-fit: contain;
}

.pn-Advancer {
  /* Reset the button */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.pn-Advancer:focus {
  outline: 0;
}

.pn-Advancer:hover {
  cursor: pointer;
}

.pn-Advancer_Left {
  left: 0;
}

[data-overflowing="both"] ~ .pn-Advancer_Left, [data-overflowing="left"] ~ .pn-Advancer_Left {
  opacity: 1;
}

.pn-Advancer_Right {
  right: 0;
}

[data-overflowing="both"] ~ .pn-Advancer_Right, [data-overflowing="right"] ~ .pn-Advancer_Right {
  opacity: 1;
}

.pn-Advancer_Icon {
  width: 20px;
  height: 44px;
  fill: #bbb;
}

h1 img {
  height: 50px;
  vertical-align: bottom;
}

.hr-double {
  border-top: 2px solid black;
}

.nowrap {
  white-space: nowrap;
}

.status_tabelle {
  padding-left: 0.8em;
}

.status_tabelle td, .backup_tabelle td {
  vertical-align: top;
  padding: 0.3em 0.3em 0em 0em;
}

#reboot_required {
  display: block;
  width: 100%;
  margin: auto;
  padding: 8px 0px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 20;
  background-color: #deffde;
  color: red;
  opacity: 1;
  box-shadow: 0px 5px 5px 0px #20202020;
}

#message_container {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}

#setup_autoupdate {
  background-color: var(--color3);
  box-shadow: 0 0 2em rgba(0,0,0,1);
  display: none;
  margin: 1em;
  opacity: 0.92;
  overflow: auto;
  padding: 2em;
  text-align: center;
  height: auto;
  border-radius: 1.5em;
  border: 5px solid var(--color2);
}

@media screen and (min-width: 600px) {
  #setup_autoupdate {
    margin: 5em 4em;
  }
}

#autoupdate {
  width: 23em;
  max-width: 60vw;
}

#idevicebackup_error, #idevicebackup_unknown_password, .platz_oben {
  padding-top: 0.4em;
}

#idevicebackup_error, .red {
  color: red;
}

#pullplug {
  display: none;
}

#zip_logfiles {
  padding: 0.4em 0em;
}
