@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff") format('woff');
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/font/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.woff") format('woff');
  font-style: italic;
}
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 1.5em;
  background: #fafafa;
}
a:link, a:visited, a:active {
  color: #008000;
}
a:hover {
  color: #00b000;
}
h1 {
  color: green;
}
h1 img {
  height: 50px;
  vertical-align: bottom;
}
h2 {
  font-size: 1.5em;
}
p {
  line-height: 1.4em;
}
#formular {
  line-height: 1.4em;
  margin-bottom: 2em;
}
/* Input Felder */
input {
  font-family: inherit;
  font-size: 1em;
  margin: 0.5em 0em;
  padding: 0.7em;
  background-color: #fff;
}
/* zusätzlich Breite für Linkeingabefeld */
#videolink_input {
  width: 70%;
}
/* Herunterladen Button */
button {
  margin: 0.5em 0em 0em 0em;
  padding: 0.6em 1.2em;
  background-color: #008000;
  color: white;
  font-size: 1.05em;
  font-family: inherit;
}
button:hover {
  background-color: #00b000;
}
form .border {
  border: 1px solid #ddd;
  border-radius: 0.5em;
}
#history_header {
  border-bottom: 1px solid grey;
}
#history_subheader {
  font-size: 0.9em;
  position: relative;
  top: -1em;
}
.history_element {
  background-color: #fff;
  padding: 0.5em 0em 0.5em 0.6em;
  margin: 0em 0em 0.7em 0em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  line-height: 1.2em;
}
.history_element ul {
  margin: 0.5em 0em 0em 0em;
  padding: 0em 0em 0em 1.2em;
}
.history_element ul li {
  padding: 0.2em 0em 0em 0em;
}
